{% extends "base.html" %}


{% block title %}Books List{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">

	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.table_filter.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('.f_search').table_filter({'table': '.books-list'});
		});
	</script>
{% endblock %}

{% block content %}
	<h2>Books list</h2>
	<a class="books-add_book icon-add" href="{{ url_for('books_add') }}">Add</a>
	<input type="text" class="f_search" placeholder="Filter (search)">
	<table class="books-list">
		<th>#
		<th>Title:
		<th>Authors:
		<th>Actions:
	{% for book in books %}
		<tr>
			<td>{{ book.id }}
			<td>{{ book.title }}
			<td>{% for author in book.authors %}
				{{ author.name }}{% if loop.last %}.{% else %},{% endif %}
			{% endfor %}
			<td class="actions"><a class="icon-edit" title="Edit author" href="{{ url_for('books_edit', book_id=book.id) }}"></a><a class="icon-delete" title="Delete author" href="{{ url_for('books_delete', book_id=book.id) }}"></a>
	{% endfor %}
	</table>
{% endblock content %}
