{% extends "base.html" %}


{% block title %}Books List{% endblock title %}

{% block head %}
	<style>
		.books-add_book {
			float: right;
		}
		.books-list .actions {
			text-align: right;
		}
		.books-list {
			border: 1px solid #AAA;
			width: 100%;
		}
		.books-list td,
		.books-list th {
			padding: 0.125em 0.25em;
			border-right: 1px solid #AAA;
		}
		.books-list th {
			background: rgba(0, 0, 0, 0.2);
		}
		.books-list tr:nth-child(odd) {
			background: rgba(0, 0, 0, 0.1);
		}
		.books-list .actions a {
			text-decoration: none;
		}
		.books-list .actions .icon-delete:hover {
			color: #A40000;
		}
		.books-list .actions .icon-edit:hover {
			color: #A08000;
		}
		.icon-add:hover {
			color: #00A400;
		}
	</style>
{% endblock %}

{% block content %}
	<h2>Books list</h2>
	<a class="books-add_book icon-add" href="{{ url_for('books_add') }}">Add</a>
	<table class="books-list">
		<th>ID:<th>Title:<th>Authors:<th>Actions:
	{% for book in books %}
		<tr>
			<td>{{ book.id }}
			<td>{{ book.title }}
			<td>{% for author in book.authors %}
				{{ author.name }}{% if loop.last %}.{% else %},{% endif %}
			{% endfor %}
			<td class="actions"><a class="icon-edit" title="Edit author" href="{{ url_for('books_edit', book_id=book.id) }}"></a><a class="icon-delete" title="Delete author" href="{{ url_for('books_delete', book_id=book.id) }}"></a>
	{% endfor %}
	</table>
{% endblock content %}
