{% extends "base.html" %}


{% block title %}Add Author{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
	<h2>Add Author</h2>
	<form action="." method="POST">
		
		{% from "_form_helper.html" import render_field %}
		{% for field in form %}
			{{ render_field(field) }}
		{% endfor %}

		<div class="buttons">
			<a class="icon-cancel" href="javascript:history.back()">Cancel</a>
			<button class="icon-accept">Add</button>
		</div>
	</form>
	{{ book }}	
{% endblock %}
