{% extends "base.html" %}


{% block title %}Edit Author - ID:{{ author.id }}{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<style>
		a.icon-cancel:hover {
			color: #004;
			text-decoration: none;
		}
	</style>
{% endblock %}

{% block content %}
	<h2>Delete Author</h2>
	<form action="" method="POST">
		<p>Really delete `{{ author.title }}` author?</p>
		<div class="buttons">
			<a class="icon-cancel" href="javascript:history.back()">Cancel</a>
			<button class="icon-accept">Delete</button>
		</div>
	</form>
	{{ book }}	
{% endblock %}
