{% extends "base.html" %}


{% block title %}Edit Author - ID:{{ author.id }}{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
	<style>
		a.icon-cancel:hover {
			color: #004;
			text-decoration: none;
		}
	</style>
{% endblock %}

{% block content %}
	<h2>Edit Author</h2>
	<form action="" method="POST">
		
		{% from "_form_helper.html" import render_field %}
		{% for field in form %}
			{{ render_field(field) }}
		{% endfor %}

		<div class="buttons">
			<a class="icon-cancel" href="javascript:history.back()">Cancel</a>
			<button class="icon-accept">Save</button>
		</div>
	</form>
{% endblock %}
