{% extends "base.html" %}


{% block title %}Authors{% endblock title %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/authors.css') }}">
{% endblock %}

{% block content %}
	<h2>Authors list</h2>
	<a class="authors-add_author icon-add" href="{{ url_for('authors_add') }}">Add</a>
	<table class="authors-list">
		<th>ID:<th>Name:<th>Actions:
	{% for author in authors %}
		<tr><td>{{ author.id }}<td>{{ author.name }}<td class="actions">
		<a class="icon-edit" title="Edit author" href="{{ url_for('authors_edit', author_id=author.id) }}"></a>
		<a class="icon-delete" title="Delete author" href="{{ url_for('authors_delete', author_id=author.id) }}"></a>
	{% endfor %}
	</table>
{% endblock content %}
