{% extends "base.html" %}


{% block title %}Authors{% endblock title %}

{% block head %}
	<style>
		.author_add {
			float: right;
		}
		.authors_list .actions {
			text-align: right;
		}
		.authors_list {
			border: 1px solid #AAA;
			width: 100%;
		}
		.authors_list td,
		.authors_list th {
			padding: 0.125em 0.25em;
			border-right: 1px solid #AAA;
		}
		.authors_list th {
			background: rgba(0, 0, 0, 0.2);
		}
		.authors_list tr:nth-child(odd) {
			background: rgba(0, 0, 0, 0.1);
		}
		.authors_list .actions a {
			text-decoration: none;
		}
		.authors_list .actions .icon-delete:hover {
			color: #A40000;
		}
		.authors_list .actions .icon-edit:hover {
			color: #A08000;
		}
		.icon-add:hover {
			color: #00A400;
		}
	</style>
{% endblock %}

{% block content %}
	<h2>Authors list</h2>
	<a class="authors_add icon-add" href="{{ url_for('authors_add') }}">Add</a>
	<table class="authors_list">
		<th>ID:<th>Title:<th>Actions:
	{% for author in authors %}
		<tr><td>{{ author.id }}<td>{{ author.name }}<td class="actions">
		<a class="icon-edit" title="Edit author" href="{{ url_for('authors_edit', author_id=a.id) }}"></a>
		<a class="icon-delete" title="Delete author" href="{{ url_for('authors_delete', author_id=a.id) }}"></a>
	{% endfor %}
	</table>
{% endblock content %}
