.books-add_book {
	float: right;
}
.books-list .actions {
	text-align: right;
}
.books-list {
	border: 1px solid #AAA;
	width: 100%;
}
.books-list td,
.books-list th {
	padding: 0.125em 0.25em;
	border-right: 1px solid #AAA;
}
.books-list th {
	background: rgba(0, 0, 0, 0.2);
}
.books-list tr:nth-child(odd) {
	background: rgba(0, 0, 0, 0.1);
}
.books-list .actions a {
	text-decoration: none;
}
.books-list .actions .icon-delete:hover {
	color: #A40000;
}
.books-list .actions .icon-edit:hover {
	color: #A08000;
}
.icon-add:hover {
	color: #00A400;
}