<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	{% block head %}
	{% endblock %}
</head>
<body>
<section class="content page">
	{% block content %}
	{% endblock %}
</section>
</body>
</html>